<!DOCTYPE html>
<html>
  <head>
    <title>Aditya's Careers</title>
    {% include 'bootstrap.html' %}
  </head>
  <body>
    {% include 'nav.html' %}
    {% include 'banner.html' %}
    <div class="container">
      <h1 class="text-center mt-2 mb-4">
        Aditya Careers
      </h1>
      <div class="row" style="margin-bottom:32px">
        <div class="col-md-6">
      <p class="lead">
        At Aditya, we`re on a mission to build a job portal where you can post jobs and the once intrested in them can apply for them, which will then send you a mail appending thier name,resume and other important information you want to hear from them. There after you can contact them and discuss about the job.
      </p>
      <div>
        <p>
          If you want to search for jobs, click here
        </p>
        <button>
          <a href="/jobitem">Here</a>
        </button>
      </div>
        </div>
        <div class="d-none d-md-block col-md-6">
        <img src="/static/people.jpeg" style="height:320px;border-radius:4px;">
        </div>
      </div>
      <h2 class="text-center mt-2 mb-4">Fill Positions</h2>
      <form action="/submit" method="POST">
          <label for="companyName">Company Name</label><br>
          <input class="form-control" type="text" id="companyName" name="companyName" placeholder="Type your company's name"><br>
          <label for="title">Job Title</label><br>
          <input class="form-control" type="text" id="title" name="title" placeholder="Type your job title"><br>
          <label for="location">Location</label>
        <input class="form-control" type="text" id="location" name="location" placeholder="Type your location of the job"><br>
          <label>Salary</label><br>
        <input class="form-control" type="text" id="salary" name="salary" placeholder="What salary are you offering"><br>

          <br><br>
              <button><a class="text-center">Send</a></button><br>
      </form>
      
    </div>
    {% include 'footer.html' %}
  </body>
</html>